.input-group .form-control.form-control-identifier-type {
  width: 10%;
}
.input-group .form-control.form-control-identifier-value {
  width: 85%;
}
div.input-group.sticky .input-group-addon:first-child {
  background-color: #fff;
  color: #555;
  background-image: none;
}
